include = :/bin/common.cfg

# Enable SAMS
mem_ext=1

# Configure FIAD dir
disksim_dsr = :/roms/disksim.bin
disksim_dir = ..
disksim_text=1

# Serial/parallel IO
rs232_dsr = :/roms/RS232.Bin 
RS232/1_out = ../rs232 
PIO/1_out = ../pio,nozero,append 

# Original disk controller
fdc_dsr = :/roms/Disk.Bin
fdc_dsk1 = ../test.dsk

# TiPi websocket connection
# tipi_dsr = :/roms/tipi.bin
# tipi_addr = 127.0.0.1:9901
